<nav id="nav">
  <a href="{{HOME_HREF}}" class="nav-logo">ED<span class="dot">.</span></a>
  <ul class="nav-links">
    <li><a href="{{HOME_HREF}}" class="{{HOME_CLASS}}">Home</a></li>
    <li><a href="{{ABOUT_HREF}}" class="{{ABOUT_CLASS}}">About</a></li>
    <li><a href="{{EXPERIENCE_HREF}}" class="{{EXPERIENCE_CLASS}}">Experience</a></li>
    <li><a href="{{PROJECTS_HREF}}" class="{{PROJECTS_CLASS}}">Projects</a></li>
    <li><a href="{{STACK_HREF}}" class="{{STACK_CLASS}}">Stack</a></li>
  </ul>
  {{THEME_TOGGLE}}
  <a href="{{CONTACT_HREF}}" class="{{CONTACT_CTA_CLASS}}">Get in touch</a>
  <button class="nav-burger" aria-label="Menu" aria-expanded="false" aria-controls="mobileMenu"><span></span><span></span><span></span></button>
</nav>